.breadcrump{
    padding: 24px 70px;
    p{
      margin: 0;
      text-transform: capitalize;
      span{
          font-family: 'Heebo';
          font-size: 14px;
          font-weight: 400;
      }
      b{
          font-family: 'Heebo';
          font-size: 14px;
          font-weight: 500;
          a{
            color: #000000;
            &:hover{
              color: #2974f0 !important;
              text-decoration: none;
            }
          }
      }
    }
  }