
@media (max-width: 65em){
    .sectionDesktop{
        display: none !important;
    }
    .mainHeader .categories-btn > .MuiButton-startIcon{
        display: none !important;
    }
    .mainHeader .categories-btn{
        min-width: 135px !important;
        padding: 0;
    }
    .appbar .iconButton{
        display: none;
    }
    .secondary-nav{
        justify-content: end;
        align-items: center;
    }
    .header{
        justify-content: space-between;
    }
    .mainHeader{
        position: relative;
    }
    .appbar .searchbar-upload{
        padding: 15px;
    }
    .appbar .searchbar-upload .upload p {
        font-size: 12px;
    }
    .appbar .searchbar-upload .upload > div {
        min-height: 160px;
    }
    .main-nav__item{
        font-weight: bold !important;
    }
    .home, .list, .ProductContainerSectionMain, .profileMain, .CartMain, .refund-policy-section{
        margin-top: 0;
    }
}
@media screen and (min-width : 320px) and (max-width : 340px) {
    .secondary-nav {
        justify-content: start;
        align-items: center;
    }
}
//mobile
@media screen and (min-width : 320px) and (max-width : 767px) {

    .appbar{
        padding: 0 15px !important;
        flex-direction: column !important;
    }
    .appbar > div {
        flex-direction: column !important;
    }
    .appbar .searchBar{
        margin: 0;
        width: 100%;
    }
    .appbar .sectionMobile{
        position: absolute;
        z-index: 1;
        right: 0;
        top: 15px;
    }
    .header{
        padding: 0 15px !important;
        justify-content: space-between;
    }
    // Corosel start
    button[aria-label='Previous'] {
        margin-left: 10px;
    }

    button[aria-label='Next'] {
        margin-right: 10px;
    }

    .courousel-style {
        padding: 70px 50px 0 80px;
        background-position: unset !important;
        .BannerGrid {
            padding: 0 !important;
        }
        .BannerButton1, .BannerButton2{
            margin: 10px 0 10px 0 !important;
            width: 100% !important;
            max-width: unset !important;
        }
    }
    //Corosel end

    .final-section-container .content-section {
        padding: 170px 30px 0 30px;
    }

    .final-section-container {
        background-size: contain;
        height: 600px;
    }

    .LaptopSection {
        .img-class,
        .lapsecimage-top {
            padding-left: 0 !important;
        }
    }

    .footer-container {
        padding: 30px 35px;

        .section-2,
        .section-3,
        .section-4 {
            padding: 0;

            ul {
                padding: 0;
            }
        }

        #mapviewer {
            iframe {
                width: 100%;
            }
        }
    }
    .breadcrump {
        padding: 12px 35px;
    }
    .list .offer_banner{
        margin: 0;
    }
    .list__content, .profileMain .ProfileSection, .ProductContainerSectionMain .ProductContainerSection, .CartMain .CartSection, .refund-policy-section .refund-policy {
        padding: 0 35px;
    }
    .refund-policy-section .refund-policy{
        text-align: justify;
    }
    .list__content .list__aside{
        padding-right: 0;
    }
    .AccordionSection{
        margin-top: 0;
    }
    .ProductContainerSectionMain .ProductContainerSection .ProductDetailsSection .MuiGrid-container, .ProductContainerSectionMain .ProductContainerSection .ProductDetailsSection .detailsection, .CartMain .CartSection .innerCart{
        padding: 0;
    }
    .ProductContainerSectionMain .ProductContainerSection .ProductDetailsSection .pincodesearchbar{
        min-width: unset;
    }
    .ProductContainerSectionMain .ProductContainerSection .ProductDetailsSection .prodattributes{
        margin-right: 10px;
    }
    .ProductContainerSectionMain .ProductContainerSection .ProductDetailsSection .CartButton{
        width: 100% !important;
        margin: 30px 0;
    }

    .profileMain .ProfileSection .form-container{
        margin-left: 0
    }
    .flex-xs-fill {
        -ms-flex: 1 1 auto!important;
        flex: 1 1 auto!important;
    }
    .flex-xs-column{
        flex-direction: column !important;
    }
    .profile-name{
        margin: 0 !important;
    }
    .CartMain .CartSection .CartTopHeadPart{
        flex-direction: column;
        align-items: end;
    }
    .CartMain .CartSection .CartTopGrandTotal{
        margin: 10px 0;
    }
    .CartMain .CartSection .Productlinks{
        margin: 20px 0;
    }
    .CartMain .CartSection .Productprice{
        display: flex;
        align-items: center;
    }
    .CartMain .CartSection .Productprice > b{
        margin-right: auto !important;
    }
    .CartMain .CartSection .Productname, .CartMain .CartSection .Producttype, .CartMain .CartSection .CartProducts .Productqty{
        text-align: center;
    }
}
@media screen and (min-width : 420px) and (max-width : 767px) {
    .final-section-container .content-section {
        padding: 350px 30px 0 30px;
    }

    .final-section-container {
        background-size: contain;
        height: 700px;
    }
}

@media screen and (min-width : 900px) and (max-width : 1350px) {
    .final-section-container {
        background-position: bottom;
    }
    #mapviewer {
        iframe {
            width: 100%;
        }
    }
    .profile-div{
        -ms-flex: 1 1 auto!important;
        flex: 1 1 auto!important;
    }
}

@media screen and (min-width : 768px) and (max-width : 899px) {

    .courousel-style {
        background-position: unset !important;
    }

    .LaptopSection {
        .img-class,
        .lapsecimage-top {
            padding-left: 0 !important;
        }
    }

    .final-section-container .content-section {
        padding: 430px 30px 0 30px;
    }

    .final-section-container {
        background-size: contain;
        height: 800px;
    }

    .footer-container {
        padding: 30px 35px;

        .section-2,
        .section-3,
        .section-4 {
            padding: 0;
            ul {
                padding: 0;
            }
        }
    }
    .profile-div{
        -ms-flex: 1 1 auto!important;
        flex: 1 1 auto!important;
    }
    .CartMain .CartSection .Productlinks{
        margin: 20px 0;
    }
    .cart-header{
        display: none !important;
    }
}

@media screen and (max-width : 1439px) {

    .ProductContainerSection .ProductDetailsSection .CartButton,
    .ProductContainerSection .ProductDetailsSection .WishListButton {
        width: 250px !important;
    }
}

@media screen and (max-width : 1350px) {
    .LaptopSection .cardlap {
        min-height: 256px;
    }
}