:root {
  --primaryblue: #2974f0;
  --fontInter: 'Inter';
  --fontRoboto: 'Roboto';
  --fontHeebo: 'Heebo';
  --white: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--fontRoboto) !important;
}
.fs-12{
  font-size: 12px!important;
}
.fs-14{
  font-size: 14px!important;
}
.fs-16{
  font-size: 16px!important;
}
.fs-18{
  font-size: 18px!important;
}
.fs-20{
  font-size: 20px!important;
}
.fs-22{
  font-size: 22px!important;
}
.fs-24{
  font-size: 24px!important;
}
.p-0{
  padding: 0 !important;
}
.pt-10{
  padding-top: 10px;
}
.m-0{
  margin: 0 !important;
}
.mr-1{
  margin-right: 10px !important;
}
.mb-1{
  margin-bottom: 10px !important;
}
.mb-3{
  margin-bottom: 30px !important;
}
.mt-1{
  margin-top: 10px !important;
}
.mt-2{
  margin-top: 20px !important;
}
.fw-regular{
  font-weight: 400 !important;
}
.text-danger{
  color: red !important;
}
.outlined-primary-btn{
  text-align: center;
  font: normal normal medium 16px/21px var(--fontRoboto);
  color: #302f2f;
  text-transform: capitalize;
  opacity: 1;
  border: 1px solid #707070;
  cursor: pointer;
  min-width: 112px;
  height: 53px;
  background: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  font-family: var(--fontRoboto);
}
.outlined-primary-btn:hover{
  border-color: #2874F0 !important;
  color: #2874F0 !important;
}
.box-shadow-0{
  box-shadow: none !important;
}
.justify-content-end{
  justify-content: flex-end;
}
.text-transform-capitalize{
  text-transform: capitalize !important;
}
#box {
  width: 100%;
  height: 35px;
  box-shadow: 0px 4px 6px #00000029;
}

#box:after {
  content:"";
  /* position:absolute; */
  /* width:100%;
  bottom:1px;
  z-index:-1;
  transform:scale(.9); */
}
#customized-menu .MuiPopover-paper{
  left: 70px!important;
}
#customized-menu .MuiMenu-paper{
  box-shadow: 0px 3px 26px #00000029;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
}
#customized-menu .MuiPopover-paper .MuiTypography-root{
  font-family: 'Poppins' !important;
  font-size: 16px;
}
#customized-menu .MuiPopover-paper .MuiListItemIcon-root{
  min-width: 40px;
}
#customized-menu .MuiPopover-paper ul li{
  min-width: 341px;
  padding: 12px 19px;
}
#profile-dropdown .MuiPopover-paper{
  right: 122px!important;
  left: unset !important;
}
#profile-dropdown .MuiMenu-paper{
  box-shadow: 0px 3px 26px #00000029;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
}
#profile-dropdown .MuiPopover-paper .MuiTypography-root{
  font-family: 'Poppins' !important;
  font-size: 16px;
}
#profile-dropdown .MuiPopover-paper .MuiListItemIcon-root{
  min-width: 40px;
}
#profile-dropdown .MuiPopover-paper ul li{
  min-width: 336px;
  padding: 12px 19px;
}
.minimalSelect{
  background-color: #0000000A;
  min-width: 238px;
  padding: 18px 0 18px 32px;
  border-radius: 114px;
  height: 56px;
}
.minimalSelect svg{
  margin-right: 32px;
}
.minimalSelect .MuiSelect-select{
  background-color: transparent !important;
  font-family: var(--fontInter);
  font-weight: 500;
  color: #626262;
  font-size: 16px;
}
.minimalSelect .MuiSelect-select:focus{
  background-color: transparent !important;
}
/* mainHeader */
.mainHeader{
  /* background-color: #fff; */
  position: fixed;
  z-index: 100;
  width: 100%;
}

/* Header Message */
.headerMessageDiv{
  height: 55px;
  font-family: 'Poppins';
  letter-spacing: 0.42px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerMessageDiv.warning{
  background-color: #F0A428;
  color: #fff;
}
.headerMessageDiv.error{
  background-color: #E81D1D;
  color: #fff;
}
/* //Appbar */
.appbar{
  box-shadow: none !important;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 31px;
}
.appbar .searchBar {
  width: 41%;
  position: relative;
  margin-left: 50px;
  margin-right: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
}
.appbar .sectionDesktop{
  display: flex;
}
.appbar .sectionMobile{
  display: flex;
}
.appbar .searchBar input{
  font-family: 'Roboto' !important;
  font-size: 14px !important;
  font-weight: 300 !important;
}
.appbar .searchBar .MuiOutlinedInput-adornedEnd{
  height: 48px;
  padding-right: 8px;
}
.appbar .searchBar input::placeholder{
  font-family: 'Roboto' !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  color: #686868 !important;
}
.appbar .searchbar-upload{
  position: absolute;
  z-index: 110;
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #DFDFDF;
}
.appbar .searchbar-upload .upload{
  margin: auto;
  max-width: 100%;
  margin-top: 10px;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appbar .searchbar-upload .upload .MuiDropzoneArea-textContainer, .appbar .searchbar-upload .upload .MuiDropzoneArea-textContainer .MuiDropzonePreviewList-root{
  display: none;
}
.appbar .searchbar-upload .upload .MuiDropzoneArea-root{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #FAFAFA !important; */
  background: transparent;
}
.appbar .searchbar-upload .upload .upload__label{
  box-shadow: none;
  /* background: #FAFAFA !important; */
  position: absolute;
  z-index: -1;
}
.appbar .searchbar-upload .upload .upload__label img{
  width: 50px;
}
.appbar .iconButton{
  padding: 12px 18px;
}
.appbar .iconButton:focus{
  outline: none !important;
}
.appbar .headerLogo{
  height: 71px;
  width: 195px;
}
.appbar svg {
  fill: #2f4b66;
  overflow: unset;
}
.appbar .searchBtn{
  border-radius: 5px;
  padding: 5px;
}
.appbar .searchBtn:focus{
  outline: none;
}
.appbar .upload__subtitle{
  font-family: 'Roboto' !important;
}
.main-nav{
  margin-left: 50px;
}
.main-nav__item{
  text-decoration: none!important;
  text-transform: capitalize !important;
  text-align: left;
  font-family: 'Roboto' !important;
  letter-spacing: 0px !important;
  color: #302F2F !important;
  opacity: 0.92 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 14px 24px 20px 24px;
  text-align: center;
}
.main-nav__item:hover{
  text-decoration: none!important;
  text-transform: capitalize !important;
  text-align: left;
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 0px !important;
  color: #2F4B66 !important;
  opacity: 0.92 !important;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 24px 14px 24px;
  border-bottom: 5px solid #2874F0 !important;
  background: rgba(40, 116, 240 , 0.1) !important;
  text-align: center;
}
.main-nav__item_active{
  text-decoration: none!important;
  text-transform: capitalize !important;
  text-align: left;
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 0px !important;
  color: #2F4B66 !important;
  opacity: 0.92 !important;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 24px 20px 24px;
  border-bottom: 5px solid #2874F0 !important;
  background: rgba(40, 116, 240 , 0.1) !important;
  text-align: center;
}
/* Button test */
button[aria-label='Previous'] {
  margin-left: 70px;
}
button[aria-label='Next'] {
  margin-right: 70px;
}

/* product slider */
.product-slider-corousel > div {
  min-height: 454px;
}

.slider-section button[aria-label='Previous'] {
  margin-left: 86px;
}
.slider-section button[aria-label='Next'] {
  margin-right: 86px;
}
.slider-section .topSection{
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  padding: 70px 70px 0 70px;
}
.slider-section .LapHeadSection{
  margin-right: auto;
}
.slider-section .LapButtonSection{
  display: flex;
}
.slider-section .MuiGrid-root {
  overflow: hidden;
}
.slider-section .LapSectionContent > div{
  width: calc(112% + 40px) !important;
  flex-wrap: nowrap !important;
}
.slider-section .LapSectionContent .MuiCard-root{
  margin: auto !important;
}
.slider-section .LapHead {
  font: normal normal normal 14px/21px "Poppins";
  letter-spacing: -0.31px;
  color: #302f2f;
  text-transform: capitalize;
  opacity: 1;
}
.slider-section .LapHeadmain {
  line-height: unset !important;
  font: normal normal 600 25px/56px "Poppins";
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 0;
}

/* ********************************* */
.BannerSection {
  background-image: url("./assets/images/original/Contoso_Assets/Static_Banner/banner_controller.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  min-height: 540px;
}

.BannerSection .BannerHeading {
  font-family: 'Poppins' !important;
  font-weight: 600 !important;
  font-size: 34px !important;
  text-align: left;
  letter-spacing: -1.59px;
  color: #ffffff;
  opacity: 1;
  padding: 144px 0px 0px 150px;
}
.BannerSection .BannerContent {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 16px/24px "Poppins";
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 16px/24px "Poppins";
  letter-spacing: -0.75px;
  color: #ffffff;
  opacity: 1;
  padding: 16px 0px 0px 150px;
}
.BannerSection .BannerButtondiv {
  padding: 50px 0px 0px 150px;
}
.BannerSection .BannerButton {
  border: 1px solid #ffffff;
  opacity: 1;
  width: 224px;
  height: 56px;
  background: none;
  border-radius: 5px;
  cursor: pointer;

  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal medium 16px/21px var(--fontRoboto);
  letter-spacing: -0.36px;
  color: #ffffff;

  font-weight: 500;
  font-size: 16px;
  font-family: var(--fontRoboto);
}



/* laptopsection starts -------------------------------------------------------------------------------------------------------------*/

.LaptopSection {
  background-color: #fff;
}
.LaptopSection .LapHeadSection {
  padding-top: 70px;
}

.LaptopSection .LapHead {
  text-align: center;
  font: normal normal normal 14px/21px "Poppins";
  letter-spacing: -0.31px;
  color: #302f2f;
  text-transform: uppercase;
  opacity: 1;
}
.LaptopSection .LapHeadmain {
  text-align: center;
  font: normal normal 600 30px/56px "Poppins";
  letter-spacing: -1.44px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
}
.LaptopSection .ProductSection {
  margin: 30px 38px 70px 70px;
}
.LaptopSection .LaptopButtondiv {
  text-align: center;
  padding: 50px 0px 50px 0px;
}
.LaptopSection .LaptopButton {
  text-align: center;
  font: normal normal medium 16px/21px var(--fontRoboto);
  letter-spacing: -0.36px;
  color: #302f2f;
  text-transform: capitalize;
  opacity: 1;
  border: 1px solid #707070;
  cursor: pointer;
  width: 224px;
  height: 56px;
  background: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  font-family: var(--fontRoboto);
}
.LaptopSection .lapsecimage {
  border-radius: 5px;
  width: 100%;
}
.LaptopSection .laptopimage {
  width: 75%;
  margin: auto;
  display: block;
  margin-bottom: 23px !important;
  margin-top: 2px !important;
}
.LaptopSection .cardlap {
  min-height: 310px;
  background: #f5f5f580 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  box-shadow: none;
}
.LaptopSection .Productname {
  font: var(--unnamed-font-style-normal) normal 600 18px /
    var(--unnamed-line-spacing-32) "Poppins";
  text-align: center;
  font: normal normal 600 18px/32px "Poppins";
  letter-spacing: -0.33px;
  color: #111111;
  opacity: 1;
  margin-right: auto;
}
.LaptopSection .price {
  text-align: center;
  letter-spacing: -0.36px;
  color: #2874f0;
  opacity: 1;
  background-color: white !important;
  border-radius: 10px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 17px;
  width: 63px;
  height: 34px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins";
}
.LaptopSection .productdetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.LaptopSection .proddetails {
  padding: 16px 30px;
  box-shadow: none;
}



/* sha********************* */
.footer-container {
  padding: 60px 70px;
  font-size: smaller;
}
.footer-container .MuiGrid-container {
  justify-content: space-around;
}
.footer-container .footer-grid-container ul {
  list-style: none;
}
.footer-container .footer-grid-container li {
  padding-bottom: 20px;
}
.footer-container .footer-grid-container li a{
  color: #302F2F;
  text-decoration: none !important;
}
.footer-container .footer-grid-container p {
  font-family: 'Roboto' !important;
  font-size: 16px !important;
  color: #302F2F !important;
}
.footer-container .section-2 {
  padding-left: 20px;
}
.footer-container .section-3 {
  padding-left: 60px;
}
.footer-container .section-4 {
  padding-left: 100px;
  float: right;
}

.footer-container .contact-div {
  display: inline;
}
.footer-container .logo-div {
  float: left;
  padding-right: 5px;
}
.footer-container .list-element {
  font-family: 'Roboto' !important;
  font-size: 14px !important;
  color: #302F2F !important;
}
.footer-container .main-element {
  font-family: 'Poppins' !important;
  font-size: 14px !important;
  color: #302F2F !important;
  font-weight: 600;
}

/* ************** */
.final-section-container {
  background-color: #80808030;
  height: 800px;
  background-image: url('./assets/images/original/Contoso_Assets/5_Static_Banner/static_banner_2.jpg') ;
  background-repeat: no-repeat;
}
.final-section-container  .grid-container {
  padding-top: 30px;
}

.final-section-container  .image-section img {
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.final-section-container  .content-section {
  padding-top: 170px;
  padding-right: 70px;
}
.final-section-container  .content-section h1{
  font-family: 'Poppins' !important;
  font-size: 34px !important;
  color: #000000 !important;
  font-weight: 600;
  margin: 16px 0;
}
.final-section-container  .content-section p{
  font-family: 'Poppins' !important;
  font-size: 16px !important;
  color: #000000 !important;
  font-weight: 400;
}
.final-section-container  .start-btn {
  text-align: center;
  color: #302f2f;
  text-transform: capitalize;
  opacity: 1;
  border: 1px solid #707070;
  cursor: pointer;
  width: 224px;
  height: 56px;
  background: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  font-family: var(--fontRoboto) !important;
  margin-top: 34px;
}

.refund-policy-section{
  margin-top: 192px;
  font-family: var(--fontInter);
}
.refund-policy-section .refund-policy{
  padding: 0 70px 36px 70px;
}
.refund-policy .mainHeading{
  margin: 24px 0;
  font-size: 24px;
  font-weight: 600;
}
.refund-policy .subHeading{
  margin-top: 35px;
  font-size: 18px;
  font-weight: 600;
}
.refund-policy .paragraph{
  font-size: 14px;
}
.refund-policy .paragraph b{
  font-family: var(--fontInter);
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
}

.ErrorSection {
 margin-top: 137px;
 background-image: url("./assets/images/original/Contoso_Assets/404_page_assets/background_image.jpg"); 
 background-size: cover;
 padding-top: 130px;
 padding-bottom: 130px;

}
.ErrorSection .errorpic{
display: block;
margin-left: auto;
margin-right: auto;
}
.ErrorSection .errorsecHeading {
  text-align: center;

  font-weight: 600;
  font-family: "Poppins";
  font-size: 32px;
  letter-spacing: -1.53px;
  color: #111111;
  margin-bottom: 0!important;
 
}

.ErrorSection .errorsecContent {
  text-align: center;

  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.86px;
  color: #111111;
  margin: 8px auto 30px auto !important;
}
.ErrorSection .RefreshButton {
  border: 1px solid #2874f0;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #2874f0;
  text-transform: capitalize;
  box-shadow: none !important;
  width: 134px;
  height: 36px;
  margin-right: 16px;
}
.ErrorSection .GoHomeButton {
  background: #2874f0 0% 0% no-repeat padding-box;
  border-radius: 8px;
  text-transform: capitalize;
  box-shadow: none !important;
  text-align: center;

  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #ffffff;
  width: 200px;
  height: 36px;
}
.ErrorSection .ButtonSection{
    text-align: center;
}
.theme-class > label{
  border: 1px solid lightgray;
  background-color: #a2a2a2;
  border-radius: 20px;
  padding: 3px 12px;
  margin: 0;
  color: #fff;
}
