.slider-style {
    padding: 0 70px;
}

.slider-style .productCard {
    box-shadow: none !important;
}

.slider-style .productCard .MuiCardMedia-root {
    width: auto !important;
    height: 270px !important;
    margin: auto;
}

.slider-style .productCard:hover {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16) !important;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width : 1250px) {
    .slider-style .LapSectionContent>div {
        width: calc(100% + 40px) !important;
    }

    .slider-style .LapSectionContent>div>div:last-child {
        display: none;
    }
}